---
layout: default
---
<div class="text-center">
    Annuaire des <abbr title="Evénements se déroulant sur un ou plusieurs jours, généralement annuellement">conférences</abbr>
    et <abbr title="Groupes d'utilisateurs se rencontrant généralement mensuellement">communautés</abbr>
    de développeurs en France.
</div>

<div class="row">
    {% for page in site.pages %}
    {% if page.city %}
    <div class="col-md-2">
        <a class="btn btn-city btn-block" href="{{ page.url | prepend: page.baseurl }}">{{ page.city }}</a>
    </div>
    {% endif %}
    {% endfor %}
    <div class="col-md-2">
        <a class="btn btn-city btn-block" href="/partout/">Partout !</a>
    </div>
</div>

<div class="row">
    <div class="col-md-8 text-center">
        <h2>Agenda des Conférences</h2>

        <p>Les dates des grandes conférences annuelles sont répertoriées ici.</p>

        <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://www.google.com/calendar/embed?src=devconferences.org%40gmail.com&ctz=Europe/Paris"
                    class="embed-responsive-item"
                    style="border: 0" width="800"
                    height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <h2>Dernières infos</h2>

        <p>
            Via <a href="https://twitter.com/devconferences">@DevConferences</a>
        </p>

        <a class="twitter-timeline" href="https://twitter.com/devconferences" data-widget-id="546986135780851713">
            Tweets by @devconferences
        </a>
        <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");</script>
    </div>
</div>
